{% extends 'base/base.html' %}
{% load static widget_tweaks%}
{% load static i18n %}
{% block content %}

<div class="container pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">SIGN UP</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                   <form method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Update">
                    </form>
                </div>
            </div>

        </div>
    </div>


{% endblock %}