{% extends 'base/base.html' %}
{% load static widget_tweaks%}
{% load static i18n %}
{% block content %}

<div class="container-fluid py-5">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <h1 class="text-center mb-4">Update Profile</h1>
            {% if user.image %}
            <div class="text-center">
                <img src="{{ user.image.url }}" alt="Profile Image" class="img-fluid mr-3 mt-4 mb-4 img-thumbnail" style="width: 150px; height: 150px; ">
            </div>

            {% endif %}

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="{{form.first_name.id_for_label}}">Name:</label>
                            {{form.first_name}}
                        </div>
                        <div class="form-group">
                            <label for="{{form.last_name.id_for_label}}">Last name:</label>
                            {{ form.last_name}}
                        </div>
                        <div class="form-group">
                            <label for="{{form.gender.id_for_label}}">Gender:</label>
                            {% render_field form.gender type="RadioSelect" class="form-control" %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="{{form.email.id_for_label}}">Email:</label>
                            {{ form.email}}
                        </div>
                                                <div class="form-group">
                            <label for="{{form.username.id_for_label}}">Username:</label>
                            {{ form.username}}
                        </div>


                        <div class="form-group">
                            <label for="{{form.image.id_for_label}}">Profile Image:</label>
                            {{form.image}}
                        </div>
                    </div>
                </div>

                <div class="form-group text-center">
                    <button class="btn btn-primary py-2 px-4" style="margin-top: 30px;" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}