{% extends 'base/base.html' %}
{% load static fullurl%}
{% block content %}

            <br>
                    {% if messages %}
            {% for message in messages %}
            <div class="text-center alert alert-{{message.tags}}">
                {{message|safe}}
            </div>
            {% endfor %}
        {% endif %}
            <br>
<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->



<!-- Categories Start -->
<div class="container-fluid pt-5">
        <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Categories</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        {% for category in categories|slice:":3" %}
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <p class="text-right">{{ category.category_post.count }} Products</p>
                <a href="{% url 'categories' category.slug %}" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="{{ category.image.url }}" alt="">
                </a>
                <a href="{% url 'categories' category.slug %}" ><h5 class="font-weight-semi-bold m-0">{{ category.name }}</h5></a>
            </div>
        </div>
        {% endfor %}


    </div>
</div>
<!-- Categories End -->





<!-- Products Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Just Arrived</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
                {% for product in page_obj %}
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" src="{{ product.product_img.first.image.url }}" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <a href="{% url 'product-detail' product.slug %}"><h6 class="text-truncate mb-3">{{ product.name }}</h6></a>
                    <div class="d-flex justify-content-center">
                        <h6>{{ product.selling_price }} {{ product.price_currency }}</h6>
                        <h6 class="text-muted ml-2">
                            <del>{{product.original_price}} {{ product.price_currency }}</del>
                        </h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="{% url 'user-wishlist' product.id %}" style="margin-left: 67px"
                       class="btn btn-sm text-dark p-0"><i class="fas fa-heart text-primary mr-1"></i>Add To
                        Wishlist</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Products End -->


<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="vendor-item border p-4">
                    <img src="{% static 'core/img/vendor-1.jpg' %}" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="{% static 'core/img/vendor-2.jpg' %}" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="{% static 'core/img/vendor-3.jpg' %}" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="{% static 'core/img/vendor-4.jpg' %}" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="{% static 'core/img/vendor-5.jpg' %}" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="{% static 'core/img/vendor-6.jpg' %}" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="{% static 'core/img/vendor-7.jpg' %}" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="{% static 'core/img/vendor-8.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->


{% endblock  %}