{% extends 'base/base.html' %}
{% load static widget_tweaks%}
{% load static i18n %}
{% block content %}


 <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Contact Us</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Contact</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

        {% if messages %}
            {% for message in messages %}
            <div class="text-center alert alert-{{message.tags}}">
                {{message|safe}}
            </div>
            {% endfor %}

        {% endif %}
    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Contact For Any Queries</span></h2>
        </div>


        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                        <form method="post" name="sentMessage" id="contactForm" novalidate="novalidate">
                            {% csrf_token %}
                        <div class="control-group">
                            <label class="mt-4"></label>
                          {% render_field form.full_name type="text" id="name" class="form-control" required="required" data-validation-required-message="Please enter your name" placeholder="Your Name" style="opacity: 0.8;" %}

                        </div>
                        <div class="control-group">
                            <label class="mt-4" ></label>
                          {% render_field form.email type="email" class="form-control" required="required" data-validation-required-message="Please enter your email" placeholder="Your Email" style="opacity: 0.8;" %}
                        </div>
                            <div class="control-group">
                             <label class="mt-4" ></label>
                          {% render_field form.phone_number  type="phone" id="number" class="form-control" required="required" data-validation-required-message="Please enter your Phone number" placeholder="Your number" style="opacity: 0.8;" %}
                        </div>
                        <div class="control-group">
                            <label class="mt-4" ></label>
                          {% render_field form.subject type="text" id="subject" class="form-control" required="required" data-validation-required-message="Please enter a subject" placeholder="Subject" style="opacity: 0.8;" %}

                        </div>
                        <div class="control-group">
                             <label class="mt-4" ></label>
                          {% render_field form.message rows="6" type="text" id="message" class="form-control" required="required" data-validation-required-message="Please enter your message" placeholder="Message" style="opacity: 0.8;" %}
                        </div>

                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit">Send
                                Message</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 mb-5">
                <h5 class="font-weight-semi-bold mb-3">Get In Touch</h5>
                <p>{{ settings.description }}</p>
                <div class="d-flex flex-column mb-3">
                    <h5 class="font-weight-semi-bold mb-3">Store</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>{{ settings.address }}</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>{{ settings.email }}</p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>{{ settings.phone_num }}</p>
                </div>

            </div>
        </div>
    </div>
    <!-- Contact End -->




{% endblock %}